  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/notify.js"></script>
  <% if (typeof pageScript !== 'undefined') { %>
    <script src="<%= pageScript %>"></script>
  <% } %>
</body>
</html>
